[submodule "finite-state-automaton"]
	path = finite-state-automaton
	url = https://github.com/calcuttarain/finite-state-automaton.git
[submodule "conversion-regex-to-delta-nfa"]
	path = conversion-regex-to-delta-nfa
	url = https://github.com/calcuttarain/conversion-regex-to-delta-nfa.git
